[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pytest = "*"
atomicwrites = "*"
behave-html-formatter = "*"
webdriver-manager = "*"
behave = "*"
pytest-html = "*"

[dev-packages]

[requires]
python_version = "3.10"
